


.x.axis .domain {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.interactive-embed {

	.immersive {

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}

		#key {
			width: 100%;
		}

		.legendary {
			width: 50%;
			float: left;
		}

		.legendary strong {
			font-weight: 700;
		}

		.keyText {
			font-size:0.8rem;
		}

		.keyDiv {
			display: inline-block;
			margin-left:10px;
			float: left;
		}

		.keyDiv .keyCircle:first-of-type {
		    margin-left:0;
		}

		.keyCircle {
			width:12px;
			height:12px;
			border-radius: 50%;
			display: inline-block;
		}

		.greyedOut {
			opacity: 0.2
		}

		.currentyear {
			background-color: black;
			color: white
		}

		@media (max-width: 750px) {

			.chartSans {
				font-size:0.7rem;
			}

		}

	}

}

.tooltip {
  	position: absolute;
  	width: 200px;
  	pointer-events: none;
	background-color: white;
	border: 1px;
	border-color: black;
	border-style: solid;
	padding: 10px;
	line-height: 1.1rem;
	font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
	font-size: 0.9rem;
}


